<div class="row">
    <div class="col-md-12">
        <h3>{{ text.current_user }}</h3>
        {{ text.user_id }}: {{ user.id }}<br>
        {{ text.username }}: {{ user.username }}<br>
        <br>
        {{ text.its }}: {{ now }}<br>
    </div>
</div>
