nbproject/
.idea/
composer.phar
composer.lock
.DS_STORE
cache.properties

.env
env.php
src/Config/env.php
src/Config/environment.php

!web/cache/
web/cache/*
!web/cache/.htaccess

!tmp/log/
tmp/log/*
!tmp/log/empty

!tmp/cache/
tmp/cache/*
!tmp/cache/empty

vendor/
build/
