nbproject/
.idea/
composer.phar
composer.lock
.DS_STORE
cache.properties
.php_cs.cache
.vscode

.env
env.php
config/env.php

!public/assets/
public/assets/*
!public/assets/.htaccess

!public/cache/
public/cache/*
!public/cache/.htaccess

!tmp/
tmp/*
!tmp/.htaccess

!tmp/log/
tmp/log/*
!tmp/log/empty

!tmp/logs/
tmp/logs/*
!tmp/logs/empty

!tmp/assets-cache/
tmp/assets-cache/*
!tmp/assets-cache/empty

vendor/
build/
