html {
    /* make the scrollbar always visible and only active when needed */
    overflow: -moz-scrollbars-vertical; 
    overflow-y: scroll;
}

body { 
    /* background-color: #F4F4F4; */
    background-color: #f9fafa;
    /* background-color: #f8f8f8; */
    /* 60px to make the container go all the way to the bottom of the topbar */
    padding-top: 60px;
} 

/* Flat design */
* {
    border-radius: 0 !important;
    -moz-border-radius: 0 !important;
}
